*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********header*************/
header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 5px 100px;
}
header div{
    display: flex;
}
header p{
    color: white;
    margin: 0 10px;
    font-size: 13px;
    font-weight: 700;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    margin: 0 10px;

}
header a:hover{
    color: white;
}
/* navbar	 */
nav{
    padding: 5px 100px !important;
    background-color: transparent !important;
    position: absolute !important;
    width: 100%;
    top:5%;
    z-index: 22;
    box-shadow: none !important;
}
nav a{
    color: white !important;
    font-size: 18px;
    margin: 0 10px;
    position: relative;
}
.nav-link::after{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 33;
    content: '';
    height: 4px;
    width:0px;
    background-color: #318ce7;
    transition: all .5s ease-in-out;

}
.nav-link:hover::after{
    width: 80px ;
}
nav .fa-graduation-cap{
    color: #318ce7 !important;
    font-size: 30px !important;
    margin: 0 10px;

}
nav .navIcon{
    position: relative;
}
nav .navIcon i{
    font-size: 30px !important;
}
nav .navIcon span{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #318ce7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
/*************banner***************/


.banner .swiper-slide{
    position: relative;
}
.banner .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carsouldetail{
    padding: 150px 0 0 150px;

}
.carsouldetail p{
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    
}
.carsouldetail h3{
    color: white;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
}
.carsouldetail button{
    color: white;
    background-color: #318ce7;
    padding: 8px 25px;
    border: none;
    font-size: 20px;
}

.mainBox{
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    padding:30px 10px;
    margin: 50px 0;
    height: 200px;
    transition: all 1s ease-in-out;

}
.mainBox:hover{
    background-color: black;
}

.mainBox .fa-solid{
    font-size: 50px !important;
    color: #318ce7 !important;
    margin: 0 15px;
}
.mainBox:hover .fa-solid{
    transition: all 1s ease-in-out;
    transform: scale(1.4);
}
.mainBox p{
    color: white;
    font-size: 20px;
}
.mainBox a{
    color: #318ce7;
    text-decoration: none;
    font-size: 15px;
}
/**************courses Sec*************************/
.coursesSec{
    padding: 50px 0;
    text-align: center;
}
.coursesSec h3{
font-size: 40px;
margin: 40px 0;
color: #318ce7;
}
.divCourse{
    border: 1px solid #e5e5e5;
    text-align: center; 
    margin: 20px 0;

}
.divCourse img{
    width: 100%;
    height: 250px;
    position: relative;
    object-fit: cover;
}
.divCourse a{
    text-decoration: none;
}
.divCourse a:hover{
    text-decoration: none;
}

.linkdetail{
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: #318ce7;
    padding: 5px 15px;
    border: none;
    font-size: 18px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.divCourse:hover .linkdetail{
    opacity: 1;
}
.detailCourse{
    padding: 20px;
    height: 160px;
}
.detailCourse p{
    color: #999;
}
.detailCourse h3{
    color: #333;
    font-size: 18px;
    line-height: 20px;
}
.detailCourse h3:hover{
    color: #318ce7;
}
.courseprice{
  
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #999;
    height: 100px;
}
.courseprice p{
    font-size: 18px;
    line-height: 5px;
    color: #111;
}
.courseprice h4{
    color: rgb(8, 182, 8);
    font-size: 24px;
    line-height: 10px;
    font-weight: 700;
}
.courseprice .priceee{
    color: #318ce7;
}
/*************contact us******************/
.contactSec{
    background-image: url(images/bg_register_now.jpg);
    position: relative;
    height: 90vh;
    background-size: cover;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    padding:50px 0;
}
.contactSec .contactdetail p{
    color: #318ce7;
    font-size: 30px;
    font-weight: 700;

}
.contactSec .contactdetail h3{
    color: white;
    font-size: 80px;
}
.contactdetail li{
    margin: 30px 0;
    list-style: none;
}
.contactdetail a{
    color: white;
    font-size: 25px;
}
.contactdetail a i{
    color: #318ce7 !important;
}
.contactSec form{
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
}
.contactSec form .sendDiv{
    color: white;
    background-color: #318ce7;
    text-align: center;
    font-size: 30px;
    padding: 30px 30px 70px;
    line-height: 34px;
    border-radius: 0 0 50% 50%;
}
.contactSec form input{
    border: 1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 48%;
    margin: 10px 0;
    padding: 5px;
    margin: 10px 0;
}
.contactSec form input:focus{
    border: 1px solid #318ce7;
}
.contactSec form textarea{
    border:1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}
.contactSec form textarea:focus{
    border: 1px solid #318ce7;
}
.contactSec form button{
    background-color: #111;
    color: white;
    border: none;
    padding: 5px 15px;
}
@media screen and (max-width:768px) {
    .contactSec{
        height: 150vh;
    }
}
/***********article sec****************/
.articleSec{
    padding: 50px 0;
}
.articleSec a:hover{
    text-decoration: none;
}
.articleSec h2{
    font-size: 40px;
    color: #318ce7;
    margin: 15px 0;
}
.articleSec .col-sm-12{
    margin: 20px 0;
}
.articleSec img{
    width: 100%;
}
.articleSec h3{
    color: #111;
}
.articleSec h3:hover{
    color: #318ce7;
}
.articleSec p{
    height: 50px;
    overflow: hidden;
    color: #999;
}
/********last Sec****************/
.lastSec{
    position: relative;
    height: 100%;
    padding: 50px 0;
    text-align: center;
}
.lastSec h2{
    font-size: 45px;
    margin: 40px 0;
}
.lastSec .swiper {
    width: 100%;
    height: 100%;
}
.lastSec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.lastSec .swiper-slide img{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.lastSec .swiper-slide h3{
    font-size: 15px;
    color: #111;
}
.swiper-slide h5{
    font-size: 12px;
    color: #999;
}
.lastSec .swiper-slide p{
    display: none;
}
.lastSec .swiper-slide-next p{
    display: block;
    color: #666;
    font-size: 18px;
    margin-top: 40px;
    width: 800px;
}
@media screen and (max-width:755px) {
    .lastSec  .swiper-slide-active p{
        display: block !important;
        color: #666;
        font-size: 15px;
    }
}
/********footer******************/
footer{
    background-color: #111;
    padding: 30px 0;
}
.logo{
    display: flex;
    align-items: center;
}
footer .logo p{
    color: white !important;
    font-size: 18px;
    margin: 0 10px;
}
footer .logo .fa-solid{
    color: #318ce7 !important;
    font-size: 30px !important;
    margin-right: 8px;

}
footer ul li{
    list-style: none;
    margin: 15px 0;
}
footer ul li p{
    color: white;
    font-size: 20px;
}
footer ul li a{
    color: #999;
    font-size: 15px;
}
footer ul li a:hover{
    color: #318ce7;
    text-decoration: none;
}
/**************courses************************/
.pageBanner{
    height: 50vh;
    background-image: url(images/top-slider.jpg);
    background-attachment: fixed;
    padding: 150px 0 0 150px;
}
.pageBanner h3{
    font-size: 48px;
    color: white;
    border-left: 5px solid #318ce7;
    padding-left: 10px;
}
/***************sign in & register******************************/
.theform{
    display: flex;
    justify-content: center;
    min-height: 70vh;
    margin: 100px auto;
    border:1px solid #318ce7;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.281);
    width: 70%;
}
.theform h3{
    font-size: 20px;
    font-weight: 300;
}
.theform img{
    width: 100%;
    height: 100% ;
    object-fit: cover;
}
.theform form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;

}
.theform form input,.theform form textarea,.theform form select{
    width: 100%;
    margin: 20px 0;
    border-radius: 60px;
    padding: 10px 16px;
    outline: none;
    border: 1px solid #868686;
}

.theform form input[type="submit"],.theform form button{
    border: 3px solid #d7d6d5;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 18px;
    color: #242424;
    font-weight: 400;
    margin: 20px 0;
}
.theform form input[type="submit"]:hover,.theform form button:hover{
    border: 3px solid #242424;
    background-color:#242424 ;
    color: white;

}
.theform a{
    color: #318ce7;
}
/***********************************/
.courseSubDetail{
    padding: 50px ;
}
.courseSubDetail img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.courseSubDetail .detaill h3{
    color: #111;
    font-size: 55px;

}
.courseSubDetail .detaill p{
    color: #318ce7;
    font-size: 25px;
}
.itemsss a{
    background-color: white !important;
    border: none !important;
    border-bottom: 1px solid #318ce7 !important;
    border-radius: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #318ce7 !important;
}
.tab-content{
    min-height: 50vh;
}
.descc p{
    color: #111;
}
.descc p span{
    font-weight: 800;
}
.sideCourses{
    padding: 50px 10px;
}
.sideCourses div{
    margin: 10px 0;
    border-bottom: 1px solid #999;
    padding: 10px;

}
.sideCourses img{
    width: 80px;
}
.sideCourses h3{
    font-size: 17px;
    color: #111;
    margin-left: 10px;
}
.sideCourses a:hover{
    text-decoration: none;
}
.courselink{
    display: flex;
    justify-content: flex-end;
}
.payBtn{
    display: inline-block;
    height: 42px;
    padding: 5px 20px;
    border-radius: 2%;
    color: white;
    text-decoration: none;
    background-color: #318ce7;
    font-size: 15px;
    font-weight: 500;
    border: none;


}
.payBtn:hover{
    background-color: white;
    border: 2px solid #318ce7;
    color: #318ce7;
    text-decoration: none;
}
.cartBtn{
    margin: 0 10px;
    border: 2px solid #318ce7;
    padding: 8px 20px;
    border-radius: 2%;
    color: #318ce7;
    background-color: white;
    font-size: 15px;
    font-weight: 500;

}
.cartBtn:hover{
    color: white;
    background-color: #318ce7;
}
.inCartBtn{
    margin: 0 10px;
    border: none;
    padding: 8px 20px;
    border-radius: 2%;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #318ce7;
}
.WishBtn{
    border: none;
    color: #318ce7;
    font-size: 30px;
    font-weight: 500;
    background-color: white;
}
.inWishBtn{
    border: none;
    color: #318ce7;
    font-size: 30px;
    font-weight: 500;
    background-color: white;
}
.feedback{
    border-bottom: 1px solid #999;
    margin: 10px;
    padding: 10px;
    border-radius: 1%;
}
.feedback p{
    color: #318ce7;
    font-weight: 700;
}
.feedback h5{
    color: #111;
    font-size: 15px;
}
.feedbackForm h3{
    color: #318ce7;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.feedbackForm textarea{
    border:1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}
.feedbackForm textarea:focus{
    border: 1px solid #318ce7;
}
.feedbackForm button{
    padding: 10px 20px;
    border-radius: 2%;
    color: white;
    text-decoration: none;
    background-color: #318ce7;
    border: none;
    transition: all 1s ease-in-out;
}
.feedbackForm button:hover{
    background-color: white;
    border: 1px solid #318ce7;
    color: #318ce7;
}
.result{
    font-size: 18px;
    margin: 20px 5px;

}
/*********contact us****************/
.thecontactpage{
    padding: 100px 0;
}
.contactDetailll h2{
    font-size: 30px;
    color: #111;
}

.contactDetailll h3{
    color: #111;
    font-size: 20px;
}

.contactDetailll p{
    color: #999;
    font-size: 15px;
    font-weight: 700;

}

.contactDetailll i{
    color: #318ce7 !important;
    font-size: 40px !important;
    margin: 20px;
}
.mailformContact form{
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
}
.mailformContact form .sendDiv{
    color: #318ce7;
 
    text-align: center;
    font-size: 30px;
    line-height: 34px;
}
.mailformContact form input{
    border: 1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 48%;
    margin: 10px 0;
    padding: 5px;
    margin: 10px 0;
}
.mailformContact form input:focus{
    border: 1px solid #318ce7;
}
.mailformContact form textarea{
    border:1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}
.mailformContact form textarea:focus{
    border: 1px solid #318ce7;
}
.mailformContact form button{
    background-color: #318ce7;
    color: white;
    border: none;
    padding: 5px 15px;
}
/***********ask question*********/
.questionForm form{
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.questionForm form .sendDiv{
    color: #318ce7;
 
    text-align: center;
    font-size: 30px;
    line-height: 34px;
}
.questionForm form input{
    border: 1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 48%;
    margin: 10px 0;
    padding: 5px;
    margin: 10px 0;
}
.questionForm form input:focus{
    border: 1px solid #318ce7;
}
.questionForm form textarea{
    border:1px solid #e5e5e5;
    color: #999;
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}
.questionForm form textarea:focus{
    border: 1px solid #318ce7;
}
.questionForm form button{
    background-color: #318ce7;
    color: white;
    border: none;
    padding: 5px 15px;
}
.questionsAll{
    margin: 50px 0;
    border-radius: 1%;
}
.questionsAll a{
    display: inline-block;
    padding-left: 50px;
}
.questionsAll a:hover{
    text-decoration: none;
}
.questionsAll h5{
    color: #111;
    font-size: 20px;
}
.questionsAll .theDiv{
    margin: 40px 0;
    padding: 20px;
    background-color: white;
    border-radius: 1%;

}
.questionsAll .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.questionsAll div .Qimg{
    width: 150px;
    height: 80px;
    object-fit: cover;
    margin-right: 30px;
}
.questionsAll div p{
    color: #868686;
}

/***********about us**********************/
.aboutFirst{
    padding: 50px 0;
    text-align: center;
}
.aboutFirst div{
    margin: 15px auto 5px;
}
.aboutFirst h3{
    color: #111;
    font-size: 26px;
    font-weight: 500;
}
.aboutFirst p{
    font-size: 13px;
    font-weight: 400;

}
.aboutSecond div{
    margin: 20px auto;
}
.detailabout{
    text-align: center;
    margin: 20px 0;

}
.aboutSecond h3,.aboutSecond h2{
    color: #111;
    font-size: 26px;
    font-weight: 500;
}
.aboutSecond h3{
    border-left: 4px solid #318ce7;
    padding: 10px;
}
.aboutSecond p{
    font-size: 13px;
    font-weight: 400;

}
.aboutThird{
    text-align: center;
}
.aboutThird div{
    margin: 20px auto;
}
.aboutThird h3{
    color: #111;
    font-size: 26px;
    font-weight: 500;
}

.aboutThird p{
    font-size: 13px;
    font-weight: 400;

}
.aboutThird img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/*****************************************/
/*****************dashboard*********************/
/****************************************/
.dashboard{
    background-color: #e4e5e9;
    padding: 80px 20px 20px;
}
.dashboard .col-md-10{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 100px 20px;
}
.sideNavv{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 20px;

}
.adminDetail{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px;

}
.sideNavv div{
    margin: 25px 0;
}
.adminDetail img{
    width: 60px;
    height:60px;
    border: 2px solid rgba(16,155,211,1);
    border-radius: 50%;
}
.adminDetail h3{
    color: rgba(16,155,211,1);
    font-size: 18px;
    margin-left: 10px;
}
.sideNavv a {
    text-decoration: none;
    color: rgba(16,155,211,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;

}
.sideNavv a:hover{
    color: rgba(58,209,190,1) ;
}
.dashDivs .col-md-6 div{
    text-align: center;
    padding: 30px 0;
    width: 70%;
    margin: 40px auto ;
    border-radius: 20px;
    background: rgb(58,209,190);
    background: linear-gradient(90deg, rgba(58,209,190,1) 0%, rgba(16,155,211,1) 100%);
}
.dashDivs .col-md-6 a{
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.addBTN button{
    margin: 10px ;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    background: rgb(58,209,190);
    background: linear-gradient(90deg, rgba(58,209,190,1) 0%, rgba(16,155,211,1) 100%);
}
/*********profile****************/
.myCourses a{
    text-decoration: none;
}
.myCourses a:hover{
    text-decoration: none;
}
.myCourses h3{
    color: #318ce7;
    font-size: 34px;
}
.myCourses p{
    color: #666;
    font-size: 15px;
}
/***************Question dtail****/
.questionDetailll{
    padding: 50px;
}
.questionDetailll img{
    width: 100%;
}
.questionDetailll h3{
    color: #318ce7;
    font-size: 40px;
    margin: 20px 0;
}
.questionDetailll p{
    color: #666;
    font-size: 15px;
}